/**
 * Created by Ken-Asus on 2016/6/29.
 */
.mine-basic
{
  height: 150px;
  width: 100%;
//  background-image: url('../images/mine-basic-bg.jpg');
//  background-repeat: no-repeat;
//  -moz-background-clip: content-box;
}
.mine-basic img
{
  width: 80px;
  height: 80px;
  border-radius: 80px;
}